.sw-order-saveable-field .sw-container{align-items:center}.sw-order-saveable-field .sw-field{margin-bottom:0}.sw-order-saveable-field .sw-field input{padding:1px 16px}.sw-order-saveable-field .sw-icon{padding:4px}
