.sw-settings-tax-tax-provider-detail .sw-settings-tax-tax-provider-detail-info{max-width:960px}@media screen and (max-width: 1360px){.sw-settings-tax-tax-provider-detail .sw-settings-tax-tax-provider-detail-info{max-width:770px}}
