.sw-category-entry-point-card__navigation-list{margin:12px 0 30px;display:flex;flex-direction:column;align-items:flex-start}.sw-category-entry-point-card__navigation-entry{color:#189eff;text-decoration:none;line-height:24px}
