.sw-promotion-v2-generate-codes-modal{font-size:14px;line-height:22px}.sw-promotion-v2-generate-codes-modal__description{text-align:justify;margin-bottom:26px}.sw-promotion-v2-generate-codes-modal .sw-field--switch{margin-top:0}
