.sw-order-document-settings-modal__comment{margin-top:22px}.sw-order-document-settings-modal__file-toggle.sw-field--switch{margin:0}.sw-order-document-settings-modal footer.sw-modal__footer{display:flex;justify-content:space-between}
